*{
    margin: 0;
    padding: 0;
}


html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  height: 100%;
}

.mensagem{
  margin-top: auto;
}

header{
    font-size: 3.5vw;
    font-family: 'Pricedown Bl', sans-serif;
    text-shadow: 0 0.45vw 0.4vw black;
    color: white;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(17, 0, 255) 10%, rgb(51, 139, 255) 70% 100%);
    border-bottom: solid 0.8vw black;
    margin: 0;
    padding: 1%;
    
}

.principal{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(51, 139, 255), rgb(66, 66, 66));
    display: flex;
    padding: 4% 2.2%  ;
}

.texto{
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif ; 
    font-size: 2vw ;
    color: white;
    text-shadow: 0 3px 3px black;
}


.texto p{
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
}

.texto :last-child{
  margin-top: 2%;
}

.iframe{
  box-sizing: border-box;
    float: right;
    width: 50%;
    text-align: center;
    
}

iframe{
    width: 100%;
    height: 30vw;
    border-radius: 8px;
    transition: 0.3s box-shadow;
}

iframe:hover{
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.carrosel{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(66, 66, 66), black);
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: auto; 
    align-items: flex-end;
}

.carrosel a{
  margin: 2% 0.5% 0 0.5%;
}

.carrosel :first-child{
  margin-left: 1%;
}

.carrosel :last-child{
  margin-right: 1.5%;
}

.carrosel a img{
  height: 20vw;
  transition: 0.3s height;
}

.carrosel a img:hover{
  height: 20.4vw;
}

.espaco{
  display: inline-block;
  box-sizing: border-box;
  height: fit-content;
  background-color: black;
  text-align: center;
  position: absolute;
  width: 100%;
}

.espaco a{
  display: inline-block;
  height: auto;
  text-decoration: none;
  color: white;
  background-color: rgb(39, 39, 39);
  font-size: 3vw;
  margin: 2% 0 2% 0;
  padding: 1% 3% 1% 3%;
  border-radius: 5px;
  font-family: 'Pricedown Bl', sans-serif;
  transition: 0.5s background-color, 0.5s font-size;
}

.espaco a:hover{
  background-color: rgb(87, 87, 87);
  font-size: 3.2vw; 
}